@{
    ViewBag.Title = "Detalle de libro";
    ViewBag.Css = "show.css";
}

<div class="container-main">
    <div class="container-show">
        <div class="left">
            <div class="container-info">
                <h5>ID:</h5>
                <p>@Model.Id</p>
            </div>
            <div class="container-info">
                <h5>Título:</h5>
                <p>@Model.Titulo</p>
            </div>
            <div class="container-info">
                <h5>Autor:</h5>
                <p>@Model.Autor</p>
            </div>
            <div class="container-info">
                <h5>Género:</h5>
                <p>@Model.Genero</p>
            </div>
        </div>
        <div class="right">
            <div class="container-info">
                <h5>Ubicacion:</h5>
                <p>@Model.Ubicacion</p>
            </div>
        </div>
    </div>
    <a class="btn-return" asp-controller="Libros" asp-action="Index">Volver a lista de libros</a>
</div>